# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
/Users/keepitfoxy/Documents/DSW Informatyka/Semestr III/Programowanie aplikacji mobilnych/Projekt semestralny
# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.apk
*.lock
# macOS system files
.DS_Store

# Flutter files
.metadata
android/gradle/.DS_Store
ios/Podfile
macos/Podfile

.DS_Store
