# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
/Users/keepitfoxy/Documents/DSW Informatyka/Semestr III/Programowanie aplikacji mobilnych/Projekt semestralny
# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.apk
*.lock
